_*.ply
_*.nc
_*.ipp
_*.ilp
_*.ipc
*.dat
*.smf
*.eps
*.o
*.a
/Makefile
/Makefile.in
/aclocal.m4
/ar-lib
/autom4te.cache/
/compile
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/examples/.deps/
/examples/Makefile
/examples/Makefile.in
/install-sh
/missing
/src/.deps/
/src/Makefile
/src/Makefile.in
/stamp-h1
/examples/ioinfo
/examples/milling
/examples/offset
/examples/simplify
/examples/sphere
/examples/view
