nc cfg
# --------------------------------------------------------------
# method: ISO_LAYER(1), ISO_PLANAR(2), LAYER_PLANAR(3)
# figure: NONE(0), RECTANGLE(1), ELLIPES(2)
method = 1
figure = 2
# --------------------------------------------------------------
# milling tool parameters.
ball_radius = 1.5875
rise_height = 1
# --------------------------------------------------------------
# planar intersection parameters.
xmin = -40
ymin = -30
zmin = -7
xmax = 40
ymax = 30
zmax = 0
# --------------------------------------------------------------
# iso planar path milling parameters.
ipprize = 0
ippside = 0
ippfeed = 0
ippzmin = 0
ippzmax = 0
# --------------------------------------------------------------
# iso layer path milling parameters.
ilprize = 0.5
ilpside = 1.0
ilpfeed = 1.0
ilpzmin = -7
ilpzmax = 0
